*{
    font-family: inter; 
}

#navigasi{
    background-color: white;
    top: 0px;
    position: sticky;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding-top: 5px;
    z-index: 9;
}

.container-navigasi{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 100px;
}

.logo-header img{
    margin-right: 12px;
}

.logo-header h1{
    color: blue;
}

.logo-header h2{
    color: chartreuse;
}

#navigasi li{
    position: relative;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    top: 100%;
    padding-left: 0;
    
}

.dropdown-menu a{
    width: 120px;
    display: block;
    /* margin: 8px 12px; */
    background-color: white;
    /* margin-left: -40px;
    padding-left: -40px; */
    /* padding-left: 0 !important; */
    /* padding-left: -0px !important; */
    text-decoration: none;
    color: #717171;
}

.dropdown-menu a li{
    margin-top: 10px;
    margin-left: -0px !important;
    text-align: center;
}

.dropdown:hover .dropdown-menu{
    display: block  ;
}

.dropdown-menu-2{
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    top: 100%;
    padding-left: 0;
    
}

.dropdown-menu-2 a{
    width: 150px;
    display: block;
    /* margin: 8px 12px; */
    background-color: white;
    /* margin-left: -40px;
    padding-left: -40px; */
    /* padding-left: 0 !important; */
    /* padding-left: -0px !important; */
    text-decoration: none;
    color: #717171;
}

.dropdown-menu-2 a li{
    margin-top: 10px;
    margin-left: -0px !important;
    text-align: center;
}

.dropdown-2:hover .dropdown-menu-2{
    display: block  ;
}



.dropdown-menu-3{
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    top: 100%;
    padding-left: 0;
    
}

.dropdown-menu-3 a{
    width: 120px;
    display: block;
    /* margin: 8px 12px; */
    background-color: white;
    /* margin-left: -40px;
    padding-left: -40px; */
    /* padding-left: 0 !important; */
    /* padding-left: -0px !important; */
    text-decoration: none;
    color: #717171;
}

.dropdown-menu-3 a li{
    margin-top: 10px;
    margin-left: -0px !important;
    text-align: center;
}

.dropdown-3:hover .dropdown-menu-3{
    display: block  ;
}

.dropdown-menu-4{
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    top: 100%;
    padding-left: 0;
    
}

.dropdown-menu-4 a{
    width: 120px;
    display: block;
    /* margin: 8px 12px; */
    background-color: white;
    /* margin-left: -40px;
    padding-left: -40px; */
    /* padding-left: 0 !important; */
    /* padding-left: -0px !important; */
    text-decoration: none;
    color: #717171;
}

.dropdown-menu-4 a li{
    margin-top: 10px;
    margin-left: -0px !important;
    text-align: center;
}

.dropdown-4:hover .dropdown-menu-4{
    display: block  ;
}


.list-navigasi{
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 75px;
}

.list-navigasi li{
    margin-left: 40px;
    align-items: center;
    margin-bottom: 8px;
}

.list-navigasi button{
    background-color: #FAA613;
    border: none;
    padding: 10px  20px;
    border-radius: 8px;
    color: white;
}

.list-navigasi button:hover{
    background-color: gainsboro;
}

.user{
    width: 40px;
    height: 40px;   
    position: relative;
    padding-right: 50px;
    padding-left: -80px;
}

.user span{
    background-color: red;
    position: absolute;
    color: white;
    right: 3px;
    top: -3px;  
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

.user img{
    padding-top: 5px;
}






#banner{
    background-color: #F5F7FA;
    padding-top: 20px;
}



.container-banner{
    display: flex;
    align-items: center;
    justify-content: space-between  ;   
}

.container-banner img{
    padding-bottom: 15px;
    padding-right: 100px;
}

.belajar{
    padding-bottom: 50px;
    padding-left: 100px;

}

.belajar h1{
    font-size: 50px;
    margin-bottom: -30px;
    color:  #4D4D4D;;
}

.belajar h2{
    font-size: 45px;
    color: #FAA613;
}

.belajar p{
    font-size: 13px;
    letter-spacing: 2px;
    color: #4D4D4D;
    margin-top: -15 px;
}

.belajar button{
    background-color: #FAA613;
    border: none;
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-top: 30px;
}

.belajar button:hover{
    background-color: gainsboro;
}

#klien{
    padding-top: 50px;
}

.container-klien h1{
    color: #4D4D4D;
}

.container-klien p{
    color: #717171;
}

.klienkami{
    text-align: center;
}

.logo-list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-right: 35px;
    padding-top: 50px;
}

#komunitas{
    padding-top: 50px;
}

.list-komunitas{
    display: flex;
    justify-content: center;
}

.member-asosiasi{
    align-items: center;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.asosiasi-nasional{
    align-items: center;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.klub-grup{
    align-items: center;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-komunitas{
    text-align: center;
}

.header-komunitas h1{
    color: #4D4D4D;
}

.header-komunitas p{
    color: #717171;
}

#terlihat{
    padding-top: 50px;
}

.container-terlihat{
    padding-left: 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#terlihat img{
    padding-left: 50px;
    height: 200px;
}

.isilearn{
    padding-right: 100px;
    align-items: center;
    padding-left: 100px;
}

.isilearn button{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #FAA613;
    border-style: none;
    border-radius: 8px;
    color: white;
}

.isilearn button:hover{
    background-color: gainsboro;
}

#upgrade{
    margin-top: 50px;
    background-color: #F5F7FA;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-upgrade{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-upgrade{
    padding-left: 100px;
}

.text-upgrade h1{
    font-size: xx-large;
}

.text-upgrade h2{
    font-size: xx-large;
    color: #FAA613;
    margin-top: -30px;
}

.box-seluruh{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    
}

.box-santrikomentar{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.box-santri{
    display: flex;
    align-items: center;
}

.box-santritext{
    margin-left: 10px;
}

.box-santritext p{
    margin-top: -17px;
}

.box-komentar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-komentartext{
    margin-left: 10px;
}

.box-komentartext p{
    margin-top: -17px;
}

.box-komunitaspembayaran{
    display: flex;
    flex-direction: column;
}

.box-komunitas{
    display: flex;
    align-items: center;
}

.box-komunitastext{
    margin-left: 10px;
}

.box-komunitastext p{
    margin-top: -17px;
}

.box-pembayaran{
    display: flex;
    align-items: center;

}


.box-pembayarantext{
    margin-left: 10px;
}

.box-pembayarantext p{
    margin-top: -17px;
}

#kurikulum{
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.container-kurikulum{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-kurikulum img{
    margin-left: 50px;
}

.isi-kurikulum{
    margin-left: 200px;
    margin-right: 50px;
    padding-bottom: 20px;
}

.isi-kurikulum button{
    background-color: #FAA613;
    color: white;
    border-style: none;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.isi-kurikulum button:hover{
    background-color: gainsboro;
}

#hacker{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F5F7FA;
    margin-left: 50px;
    margin-bottom: 100px;
}

.container-hacker{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.isi-hacker{
    margin-right: 25px;
    margin-left: 50px;
    margin-bottom: 17px;
}

.text-hacker h3{
    color: #FAA613;
}

.text-hacker p{
    margin-right: 80px;
}

.logo-hacker{
    display: flex;
    justify-content: space-between;
}

.logo-hacker button{
    background-color: #FAA613;
    color: white;
    border-style: none;
    border-radius: 13px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 45px;
}



#baru{
    margin-top: 100px;;
}



.text-baru h1{
    color: #4D4D4D;
    margin-left: 545px;
}

.text-baru p{
    color: #717171;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
}

.kotak1{
    position: relative;
    width: 300px;
    margin-left: 90px;
}

.kotak1 img{
    width: 100%;
}

.kotak2{
    position: relative;
    width: 300px;
    margin-left: 90px;
}

.kotak2 img{
    width: 100%;
}

.kotak3{
    position: relative;
    width: 300px;
    margin-left: 90px;
}

.kotak3 img{
    width: 100%;
}

.subkotak1{
    position: absolute;
    background-color: #F5F7FA;
    bottom: -70px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    
}

.subkotak2{
    position: absolute;
    background-color: #F5F7FA;
    bottom: -70px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.subkotak3{
    position: absolute;
    background-color: #F5F7FA;
    bottom: -70px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.gambar-baru{
    display: flex;
    
}

.gambar-baru h3{
    color: #717171;
    text-align: center;
}

.gambar-baru a{
    color: #FAA613;
    text-decoration: none;
    font-weight: 600;
    margin-left: 75px;
}


#height{
    height: 100vh;
}

.icon-menu{
    display: none;
}

#dikit{
    margin-top: 200px;
    background-color: #F5F7FA;
    padding-top: 15px;
    padding-bottom: 50px;
}

.container-dikit{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: xx-large;
}

.container-dikit h1{
    color: #F44708;
}

.container-dikit button{
    background-color: #FAA613;
    color: white;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 8px;
}

.container-dikit button:hover{
    background-color: gainsboro;
}

#footer{
    background-color: #F44708;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
}

.logoabudzar-footer{
    display: flex;
    align-items: center;
}

.logoabudzar-footer h1{
    color: blue;
    font-size: x-large;
}

.logoabudzar-footer h2{
    font-size: x-large;
    color: chartreuse;
}

.copyright p{
    color: white;
}

.copyrightp2{
    margin-top: -5px;
}

.logologo-footer{
    margin-top: 65px;
}

.container-footer{
    display: flex;
}

.container-abudzartengah{
    margin-left: 100px;
    display: flex;

}

.container-abudzartengah h3{
    color: white;
}

.container-abudzartengah p{
    color: white;
}

.containerabudzar-1{
    margin-right: 100px;
}

.containerabudzar-2{
    margin-right: 100px;
}



.emailaddress{
    background-color: #FAA613;
    position: relative;
    border-radius: 10px;
}

.emailaddress img{
    position: absolute;
    right: 20px;
    top: 15px;
}

.emailaddress input{
    background-color: #FAA613;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

::placeholder{
    color: #F5F7FA;
}

@media only screen and (max-width: 745px){
    .icon-menu{
        display: block;
        
    }

    .list-navigasi{
        display: none;
    }

    #banner img{
        display: none;
    }

    .logo-header img{
        display: none;
    }
}
